<?xml version='1.0' encoding='utf-8'?>
<!-- <cordova>
    <access origin="beertunes-36bca.firebaseapp.com*"/>
    <access origin="https://beertunes-36bca.firebaseio.com*"/>
    <access origin="beertunes-36bca.appspot.com*"/>
    <access origin="https://api.untappd.com/*"/>
    <access origin="https://rocky-island-57117.herokuapp.com*"/>
    <access origin="*" launch-external="yes"/>
</cordova> -->
<widget id="com.brewtunes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BrewTUnes</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/mipmap-mdpi/icon.png" />
    <splash src="res/mipmap-mdpi/icon.png" width="320" height="480"/>
    <platform name="android">
        <allow-intent href="*" />
    </platform>
    <platform name="ios">
        <allow-intent href="*" />
    </platform>
</widget>
