<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brewtunes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BrewTunes</name>
    <description>
        A beer and music pairing app.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/mipmap-mdpi/icon.png" />
    <splash height="480" src="res/mipmap-mdpi/icon.png" width="320" />
    <preference name="splash-screen" value="screen" />
    <preference name="splash-screen-delay" value="3000" />
    <platform name="android">
        <allow-intent href="*" />
    </platform>
    <platform name="ios">
        <allow-intent href="*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
</widget>
